<%provide(:title, 'Contact')%>

<h1>Contacts</h1>
<p>
  <ul style="list-style-type: none">
    <li><strong>Tel: </strong> (056) 777 77 77</li>
    <li><strong>Fax: </strong> (056) 777 77 78</li>
    <li><strong>E-mail: </strong> rubysquad@dp.ua</li>
  <ul>
</p>